:root {
    --primary: #f7f6f1;
    --secondary: #191919;
    --tertiary: #969696;
    --red: #eaa9aa;
    --blue: #3898ec;


}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(fonts/Roboto/Roboto-Bold.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

}

h1,
h2,
h3 {
    font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
}

h1 {
    font-size:4.5rem;
}

h2 {
    font-size: 2rem;
}

a,
p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}


.w-container {
    margin: 0 auto;
    max-width: 1620px;
}

/* ------------Curtain Effect------------ */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary); /* Cambiar el color de la cortina a gris */
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: transform 1s ease-in-out;
    transform: translateY(0%);
}

.curtain.hide {
    transform: translateY(-100%);
}

.content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.content.show {
    opacity: 1;
}



/* ------------END Courtain Effect------------ */

.header {
    /* display: flex; */
    background-color: var(--primary);
    width: 100%;
    height: 65px;
    border-bottom: solid 1.5px var(--secondary);
    position: fixed;
}

.navbar {
    height: 65px;
    text-transform: uppercase;
    z-index: 2;
    padding: 0 20px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar p{
    font-size: 1rem;
}


/* BUTTON - MENU */
.menu-btn {
    display: block;
    width: 33px;
    height: 30px;
    margin: 30px 20px 10px;
}

.menu-btn span:after,
.menu-btn span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}

.menu-btn span:after {
    top: 9px;
}

.menu-btn span {
    position: relative;
    display: block;
}

.menu-btn span,
.menu-btn span:after,
.menu-btn span:before {
    width: 100%;
    height: 5px;
    background-color: var(--secondary);
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

/* on activation */
.menu-btn.on span {
    background-color: transparent;
}

.menu-btn.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: var(--primary);
}

.menu-btn.on span:after {
    background-color: var(--primary);
    transform: rotate(-45deg) translate(7px, -8px);
}

.menu-btn.on+#menu {
    opacity: 1;
    visibility: visible;
}



/* END - BUTTON - MENU */
/* --------------------------------------- */
/* MENU */
.menu {
    position: fixed;
    bottom: 0;
    /* left: 0; */
    left: -100%;
    height: 100vh;
    background-color: var(--secondary);
    color: var(--primary);
    padding: 6vh 7vw 8vh;
    transition: left 0.7s ease;

}

.dark {
    background-color: rgba(0, 0, 0, 0.7);
    transition: left 0.5s ease;
    width: 100%;
    height: 100vh;
    left: -100%;
    position: fixed;

}

.menu-header {
    color: var(--tertiary);
    padding: 16px 0;
    border-bottom: 1px solid var(--tertiary);
    margin-bottom: 56px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.menu-header p{
    font-size: 1.2rem;
}


.menu-items {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 80px;
    text-transform: uppercase; 
}

.menu-item {
    transition: transform 0.3s ease;
    color: var(--tertiary);
    margin-bottom: 15px;
    font-size: 3.5rem;
    font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
}


.menu-item:hover {
    transform: translateY(-10px);
    color: var(--primary);
}

/* .menu.active+.menu-btn {
    background-color: #455ce9;
} */

main {
    padding-top: 65px;
}

/* END - MENU */

/* --------------------------------------- */

/* MAIN  */
/* Section-1 */
.main {
    padding-left: 5%;
    padding-right: 5%;
}

.section-1 {
    width: 100%;
    height: calc(85vh - 65px);

}

.section-1-div {
    margin: 30px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2%;

}

.text {
    grid-area: 1 / 1 / 2 / 2;
    margin: 30% 0;
}

.text h1 {
    text-transform: uppercase;
    line-height: 70px;
    margin-bottom: 20px;
}



.img-container {
    grid-area: 1 / 2 / 2 / 3;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;

}

.img-container img {
    width: 65%;
    max-height: 85%;

    object-fit: cover;

}

.img-container h2 {
    font-size: 1rem;
    text-transform: uppercase;
}


/* TITLE EFFECT  */

/* .text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
   */
  


/* --------------- Section-2 --------------- */
.section-2 {

    width: 100%;
    height: 100vh;
}

.section-2 h2 {
    font-size: 4.4rem;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 50px;
    padding-top: 150px;

}

.about-text {
    width: 100%;
    padding: 20px 0 0 13%;
    font-size: 1.2rem;
    padding-bottom: 50px;
}

.about-text p {
    margin-bottom: 25px;
    line-height: 30px;
}

/* LISTS */

.lists {
    width: 100%;
    padding: 20px 5% 0 13%;

    display: flex;
    justify-content: space-between;
}

.lists p {

    font-weight: 600;
    font-size: 1.6rem;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.list-1 ul,
.list-2 ul,
.list-3 ul {
    list-style: none;
    font-size: 1.2rem;

}

/* Section-3 */