:root {
    --primary: #f7f6f1;
    --secondary: #191919;
    --tertiary: #969696;
    --red: #eaa9aa;
    --blue: #3898ec;


}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url(fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono';

}

body {
    background-color: var(--primary);
    width: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

.header {
    width: 100vw;
    height: 72px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}



.menubtn {
    display: grid;
    place-items: center;
    width: 40px;
    height: 72px;
    border: 0;
    background: transparent;
    color: var(--secondary);
    cursor: pointer;
}

.burger {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 72px;
}

.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px 65px 0;

    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--secondary);
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);

    visibility: hidden;
    opacity: hidden;
    translate: -100%;

    transition-property: translate, opacity, visibility;
    transition-duration: 0.5s;
}

body.open .navbar {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
}