:root {
    --primary: #f7f6f1;
    --secondary: #191919;
    --tertiary: #969696;
    --red: #eaa9aa;
    --blue: #3898ec;


}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url(fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    font-family: 'IBM Plex Mono';
}

a {
    text-decoration: none;
    cursor: pointer;
}

.header {
    /* display: flex; */
    background-color: var(--primary);
    width: 100vw;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1.5px var(--secondary);
    text-transform: uppercase;
    position: fixed;

}

.header p{
    margin-right: 35px;
}

/* BUTTON - MENU */
.menu-btn {
    display: block;
    width: 33px;
    height: 30px;
    margin: 30px 20px 10px;

    
}

.menu-btn span:after,
.menu-btn span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}

.menu-btn span:after {
    top: 9px;
}

.menu-btn span {
    position: relative;
    display: block;
}

.menu-btn span,
.menu-btn span:after,
.menu-btn span:before {
    width: 100%;
    height: 5px;
    background-color: var(--secondary);
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

/* on activation */
.menu-btn.on span {
    background-color: transparent;
}

.menu-btn.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: var(--primary);
}

.menu-btn.on span:after {
    background-color: var(--primary);
    transform: rotate(-45deg) translate(7px, -8px);
}

.menu-btn.on+#menu {
    opacity: 1;
    visibility: visible;
}



/* --------------------------------------- */

.menu {
    position: fixed;
    bottom:  0;
    /* left: 0; */
    height: 100vh;
    background-color: var(--secondary);
    color: var(--primary);
    padding: 15vh 11vw 8vh;
    font-size: 48px;
    left: -100%;
    transition: left 0.7s ease;
    
}

.menu-header {
    font-size: 12px;
    color: #7f7f81;
    padding: 16px 0;
    border-bottom: 1px solid #7f7f81;
    margin-bottom: 56px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.menu-item {
    transition: transform 0.3s ease;
}

.menu-item:hover {
    transform: translateY(-10px);
}

.menu.active+.menu-btn {
    background-color: #455ce9;
}

main{
    padding-top: 65px;
}
.section-1 {
    
    width: 100%;
    height: calc(100vh - 65px);

}